//
//  ZurRoseCredential.h
//  Generika
//
//  Created by b123400 on 2024/12/03.
//  Copyright © 2024 ywesee GmbH. All rights reserved.
//

#ifndef ZurRoseCredential_h
#define ZurRoseCredential_h

#define ZURROSE_CERTIFICATE_PASSWORD "XXXXXXX"

#endif /* ZurRoseCredential_h */
